<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GithubClientSecret</key>
	<string>PUT YOUR CLIENT SECRET HERE</string>
	<key>GithubClientID</key>
	<string>PUT YOUR CLIENT ID HERE</string>
</dict>
</plist>
